.ivu-layout {
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.footer-panel {
  background: #fff;
  text-align: right;

  .price {
    margin-right: 30px;
    font-size: 22px;
    color: #ff9900;
    font-weight: 700;
    vertical-align: -4px;
  }
}

.goods-code-input {
  position: absolute;
  left: -9999999px;
  z-index: -99999;
}
